/* setting header */
header {
    background: url(../img/bgphotshop.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
}
.header-container {
    max-width: 1330px;
}
.text-intro {
    padding-top: 250px;
    padding-bottom: 200px;
    margin-left: calc(2rem + 3vw);
}
.preTxt {
    font-size: calc(1.8rem + 2vw);
    font-family: "Lato" !important;
    margin: 0;
    color: #2f2d2d;
    line-height: calc(2rem + 4vw);
}
.text-intro h1 {
    font-size: calc(4rem + 5vw);
    color: #2f2d2d;
    margin-bottom: calc(1rem + 1vw);
    font-weight: 500;
    line-height: calc(4rem + 5vw);
    font-family: "Kaushan Script", sans-serif;
}
/* responsive header */
@media screen and (max-width: 990px) {
    .preTxt {
        text-align: center;
        margin: 0;
    }
    .text-intro {
        margin: 0 auto;
    }
    .text-intro h1 {
        text-align: center;
        margin-bottom: calc(1rem + 1vw);
        padding: 0 15px;
    }
    .btn-center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* setting nav */
    .nav-item a {
        font-size: 18px !important;
        font-weight: 500;
    }
}
/* setting nav */
.navbar-brand {
    font-size: 40px !important ;
    font-family: "Kaushan Script" !important;
}
.nav-item a {
    color: #fff !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 700;
}
