html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}
/*=== setting header ===*/
header {
    background: url(../img/bgphotshop.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
}
.header-container {
    max-width: 1330px;
}
/* setting nav */
.navbar-brand {
    color: #fff !important;
    font-size: 40px !important ;
    font-family: "Kaushan Script" !important;
}
.navbar-nav {
    margin-left: auto;
}
.nav-link {
    color: #fff !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 700;
}
.nav-item {
    margin-right: 20px;
}
.dropdown-item {
    color: rgb(15, 15, 15) !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 500;
}
/* ----------- */
/* Setting txt */
.text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 95vh;
    margin-left: calc(2rem + 3vw);
}
.preTxt {
    font-size: calc(1.2rem + 2vw);
    font-family: "Lato" !important;
    color: #2f2d2d;
    line-height: calc(2rem + 4vw);
}
.text-intro h1 {
    font-size: calc(3.5rem + 4vw);
    color: #2f2d2d;
    margin-bottom: calc(1rem + 1vw);
    font-weight: 500;
    line-height: calc(4rem + 5vw);
    font-family: "Kaushan Script", sans-serif;
}

/* responsive header */
@media screen and (max-width: 990px) {
    .text-intro {
        align-items: center;
        padding: 0 20px;
    }
    .preTxt p {
        text-align: center;
    }
    .text-intro h1 {
        text-align: center;
    }
    .btn-center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* setting nav */
    .nav-item a {
        font-size: 18px !important;
        font-weight: 500;
    }
}
/*=== setting A propos ===*/
#aPropos {
    display: flex;
    align-items: center;
    height: 95vh;
    padding-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}
#aPropos h3 {
    font-size: calc(1.5rem + 2vw);
    font-family: "Kaushan Script";
}
/* responsive A propos */
@media screen and (max-width: 760px) {
    #aPropos {
        height: 70vh;
        padding-top: 75px;
        padding-bottom: 50px;
        border-bottom: 1px dashed #2f2d2d;
    }
}
/*=== setting Trois Icones ===*/
#icones {
    height: 95vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
#icones h2 {
    font-family: "Lato" !important;
    font-size: calc(1.1rem + 2vw);
}
#icones p {
    font-family: "Lato" !important;
    font-size: 18px;
}
/* responsive A propos */
@media screen and (max-width: 760px) {
    #icones h2 {
        text-align: center;
    }
}
/*=== setting First banniere ===*/
#ban1 {
    height: 55vh;
    position: relative;
    background: url(../img/banniere1.png);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
#ban1 h2 {
    font-size: calc(1.5rem + 2vw);
    font-family: "Kaushan Script";
    margin: 0 0 30px;
}
#ban1 p {
    font-size: calc(0.7rem + 1vw);
    font-family: "Lato", sans-serif;
    margin-bottom: 50px !important;
}

/*=== setting Nos projets Lightbox ===*/
#nosprojets {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
#nosprojets h1 {
    font-size: calc(1.5rem + 2vw);
    font-family: "Kaushan Script";
    padding-bottom: 20px;
}
#nosprojets p {
    font-size: calc(0.7rem + 1vw);
    font-family: "Lato", sans-serif;
    padding-bottom: 40px;
}
#nosprojets .row {
    margin: 0 auto;
}

/*=== setting carousel ===*/
#carouselExampleControls {
    width: 100%;
    height: auto;
    padding: 100px 0px;
}
#carouselExampleControls .carousel-inner {
    width: 90%;
    margin: 0 auto;
}
#carouselExampleControls .carousel-inner h2 {
    font-size: calc(1.5rem + 2vw);
    font-family: "Kaushan Script";
    margin: 0;
    padding-bottom: 20px;
}
#carouselExampleControls .carousel-inner p {
    font-size: calc(0.7rem + 1vw);
    font-family: "Lato", sans-serif;
    padding-bottom: 30px;
}
/*=== setting Second banniere ===*/
#carouselBan2 {
    min-height: 300px;
    position: relative;
    background: url(../img/banniere2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
#carouselBan2 span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #2f2d2d;
    background-color: #2f2d2d8e !important;
}
#carouselTxt {
    margin-top: 100px;
    font-size: calc(0.8rem + 1vw);
    font-family: "Lato", sans-serif;
}
