html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}
/* setting header */
header {
    background: url(../img/bgphotshop.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
}
.header-container {
    max-width: 1330px;
}
/* setting nav */
.navbar-brand {
    font-size: 40px !important ;
    font-family: "Kaushan Script" !important;
}
.nav-item a {
    color: #fff !important;
    font-family: "Lato" !important;
    font-size: 22px;
    font-weight: 700;
}
/* ----------- */
/* Setting txt */
.text-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 95vh;
    margin-left: calc(2rem + 3vw);
}
.preTxt {
    font-size: calc(1.4rem + 2vw);
    font-family: "Lato" !important;
    color: #2f2d2d;
    line-height: calc(2rem + 4vw);
}
.text-intro h1 {
    font-size: calc(3.5rem + 4vw);
    color: #2f2d2d;
    margin-bottom: calc(1rem + 1vw);
    font-weight: 500;
    line-height: calc(4rem + 5vw);
    font-family: "Kaushan Script", sans-serif;
}

/* responsive header */
@media screen and (max-width: 990px) {
    .text-intro {
        align-items: center;
        padding: 0 20px;
    }
    .preTxt p {
        text-align: center;
    }
    .text-intro h1 {
        text-align: center;
    }
    .btn-center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* setting nav */
    .nav-item a {
        font-size: 18px !important;
        font-weight: 500;
    }
}
/* setting A propos */
#aPropos {
    display: flex;
    align-items: center;
    height: 95vh;
    padding-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}
#aPropos h2 {
    font-family: "Lato" !important;
    font-size: calc(1.1rem + 2vw);
}
/* responsive A propos */
@media screen and (max-width: 760px) {
    #aPropos {
        height: 70vh;
        padding-top: 75px;
        padding-bottom: 50px;
        border-bottom: 1px dashed #2f2d2d;
    }
}
